* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(#419c59, #305639);
  height: 100vh;
  position: relative;
}

.btn {
  border: none;
  border-radius: 100%;
  cursor: pointer;
  height: 80px;
  margin: 4px;
  width: 80px;
}

.btn-chips:hover {
  background-color: rgb(247, 65, 65);
}

.btn-player-actions {
  background-color: rgb(55, 54, 54);
}

.btn-player-actions:hover {
  background-color: lightgreen;
}

.chips-container {
  margin-left: 10px;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer-container {
  border-top: 2px black solid;
  display: flex;
  padding: 0.5rem 0;
  justify-content: space-between;
  width: 100%;
}

.player-actions-container {
  display: flex;
  margin-right: 10px;
}

.wagered-amount {
  text-align: center;
}

.wagered-container {
  border-left: 2px black solid;
  border-right: 2px black solid;
  padding: 0 5rem;
}
