* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/table-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: grid;
  grid-template-columns: 28% 12% 60%;
  grid-template-rows: 2% 40% 10% 40%;
  height: 100vh;
}

.balance-amount {
  margin-left: 16px;
}
.balance-container,
.bet-container {
  display: flex;
}

.bet-amount {
  margin-left: 7px;
}

.btn {
  background-color: #60686c;
  border: 2px solid rgb(145, 138, 138);
  border-radius: 100%;
  color: white;
  cursor: pointer;
  height: 80px;
  margin: 4px;
  width: 80px;
}

.btn:hover {
  transform: scale(1.14);
}
.btn-chips:hover {
  background-color: rgb(5, 118, 5);
}

.btn-clear {
  background-color: rgb(145, 3, 3);
}

.btn-clear:hover {
  background-color: rgb(27, 26, 26);
}

.btn-no-hover {
  opacity: 0.2;
  pointer-events: none;
}

.btn-player-actions {
  background-color: rgb(42, 44, 46);
}

.btn-player-actions:hover {
  background-color: darkgreen;
}

.chips-container {
  display: flex;
  justify-content: end;
  padding-right: 1rem;
}

.dealer-card-container {
  grid-area: 2 / 3;
}

.dealer-card-total {
  grid-area: 2 / 2;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dealer-info-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: 2 / 2;
}

.dealer-total-text {
  margin-top: 1rem;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer-container {
  border-top: 2px rgb(145, 138, 138) solid;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  padding: 0.5rem 0;
  width: 100%;
}

img {
  width: 15%;
}

.pic {
  height: 75px;
  width: 75px;
}

.player-actions-container {
  display: flex;
  justify-content: start;
  padding-left: 1rem;
}

.player-card-container {
  grid-area: 4/3;
}

.player-info-container {
  align-items: center;
  display: flex;
  grid-area: 4 / 2;
  flex-direction: column;
}

.player-outcome,
.player-total-text {
  margin-top: 1rem;
}

.stats-container {
  align-items: center;
  border-left: 2px rgb(145, 138, 138) solid;
  border-right: 2px rgb(145, 138, 138) solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  body {
    background: none;
    background-color: #419c59;
    grid-template-columns: 2% 18% 80%;
    grid-template-rows: 2% 40% 5% 40% 13%;
  }

  .balance-amount,
  .balance-heading,
  .bet-amount,
  .bet-heading {
    font-size: 12px;
  }

  .btn {
    font-size: 8px;
    height: 42px;
    margin: 0 6px;
    touch-action: manipulation;
    width: 42px;
  }

  .dealer-info-container {
    font-size: 12px;
  }

  .dealer-total-text,
  .player-total-text,
  .player-outcome {
    margin-top: 6px;
  }

  .footer-container {
    grid-template-columns: 41.5% 16% 41.5%;
  }

  img {
    width: 17%;
  }

  .player-info-container {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .balance-amount,
  .balance-heading,
  .bet-amount,
  .bet-heading {
    font-size: 10px;
    margin: 0;
  }

  body {
    background: radial-gradient(#419c59, #305639);
  }

  .btn {
    height: 37px;
    font-size: 8px;
    margin: 3px;
    touch-action: manipulation;
    width: 37px;
  }

  .btn-chips1,
  .btn-chips5,
  .btn-chips25 {
    display: none;
  }

  .dealer-info-container {
    font-size: 14px;
    grid-area: 1 / 1;
    padding-top: 1.25rem;
  }

  .dealer-total-text,
  .player-total-text,
  .player-outcome {
    margin-top: 6px;
  }

  .footer-container {
    display: flex;
    justify-content: center;
  }

  img {
    width: 35%;
  }

  .player-info-container {
    font-size: 14px;
    grid-area: 4 / 1;
  }
}
