* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/table-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.balance-amount {
  margin-left: 18px;
}

.balance-container {
  display: flex;
}

.bet-amount {
  margin-left: 7px;
}

.bet-container {
  display: flex;
}

.btn {
  background-color: #60686c;
  border: 2px solid black;
  border-radius: 100%;
  cursor: pointer;
  height: 80px;
  margin: 4px;
  width: 80px;
}

.btn-chips:hover {
  background-color: rgb(247, 65, 65);
}

.btn-clear {
  background-color: rgb(252, 96, 96);
}

.btn-clear:hover {
  background-color: white;
}

.btn-no-hover {
  filter: brightness(25%);
  pointer-events: none;
}

.btn-player-actions {
  background-color: rgb(55, 54, 54);
}

.btn-player-actions:hover {
  background-color: lightgreen;
}

.chips-container {
  display: flex;
  justify-content: start;
  padding-left: 1rem;
}

.dealer-card-container {
  display: grid;
  grid-template-columns: 30% 10% 60%;
  height: 40vh;
}

.dealer-cards {
  height: 100%;
  padding-top: 2rem;
}

.dealer-card-total {
  display: grid;
  grid-template-rows: 10% 15% 75%;
}

.dealer-heading {
  display: flex;
  justify-content: center;
  padding-right: 8rem;
}

.dealer-total-text {
  padding-left: 12%;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer-container {
  border-top: 2px black solid;
  display: grid;
  grid-template-columns: 37.5% 25% 37.5%;

  /* display: flex;
  justify-content: space-between; */
  padding: 0.5rem 0;
  width: 100%;
}

img {
  width: 15%;
}

.pic {
  height: 75px;
  width: 75px;
}

.player-actions-container {
  display: flex;
  justify-content: end;
  padding-right: 1rem;
}

.player-card-container {
  display: grid;
  grid-template-columns: 30% 10% 60%;
  height: 40vh;
}

.player-cards {
  height: 100%;
  padding-top: 5.5rem;
}
.player-card-total {
  display: grid;
  grid-template-rows: 30% 10% 10% 20% 30%;
}

.player-heading,
.player-total-text {
  display: flex;
  justify-content: center;
  padding-right: 8rem;
}

.player-total-text {
  padding-top: 0.5rem;
}

.player-outcome {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-right: 8rem;
}

.stats-container {
  align-items: center;
  border-left: 2px black solid;
  border-right: 2px black solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 5rem;
}
